<div class="row w-100 h-100 align-items-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 justify-content-center mx-auto">
        <div class="jumbotron">
            <h1 class="display-2 text-center">Schedule Fairy</h1>
            <p class="lead text-center">The Simple Scheduler</p>
            <p class="lead text-center">
                <a href="/login/google" role="button">
                    <img src="/images/google_signin_buttons/web/1x/btn_google_signin_light_normal_web.png">
                </a>
            </p>
        </div>
    </div>
</div>


      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-lg-10 col-xl-8">